{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="h-screen flex items-center w-full">
        <div class="mx-auto grid  gap-2 w-full md:w-[40%] mx-auto">
          <div class='bg-gray-500 '>
                {% comment %} <img src="{% static 'images/cafeteria.jpg' %}" class="w-full object-cover h-[20rem] rounded-r-lg " alt="img-bg"/> {% endcomment %}
            </div> 
            <form method="POST" class="border border-amber-900 p-4 rounded-md text-white" >
                {% if form.errors%}
                <p class="text-red-500 ">Error</p>
                {% endif %}
                {% csrf_token %}
                 <label class='block my-2'>{{ form.username.label }} </label>
                <input type="text" name="username" placeholder="pedro" class="w-full border text-black border-gray-300 rounded-md p-2"></input>
                <label class='block my-2'>{{ form.password.label }} </label>
                <input type="password" name="password" class="w-full border border-gray-300 rounded-md p-2 text-black"></input>
                <button type="submit" class="bg-amber-500 w-full text-white rounded-md p-2 mt-4 hover:bg-amber-600">Login</button>
                <div class="mt-2">
                    <a class="cursor-pointer text-amber-500" href="{% url 'signup' %}">do not you have an account ? </a>
                </div>
            </form>

        </div>
    </main>
{% endblock content %}

