{% extends "base.html" %}
{% load static %}

{% block content %}

    <main class="h-screen flex items-center w-full justify-center">
        <form method="POST" class="border border-amber-900 text-white p-8 rounded-md w-full md:w-[40%]">
            {% csrf_token %}
            <label>{{form.username.label }}</label>
            {{ form.username}}
            <label>{{form.email.label }}</label>
            {{ form.email}}
            <label>{{form.password1.label }}</label>
            {{ form.password1}}
            <label>{{form.password2.label }}</label>
            {{ form.password2 }}
            <button class="bg-amber-500 w-full rounded-md p-2 mt-4 text-white hover:bg-amber-600" type="submit">SignUp</button>
            <div class="mt-2">
                <a class="cursor-pointer  text-amber-500" href="{% url 'login' %}">Do you have an account ? </a>
            </div>
        </form>

    </main>
{% endblock content %}

